@use "@/styles/variables.scss" as vars;
@use "@/styles/theme.scss" as *;
@use "@/styles/breakpoints" as bp;

.container {
	position: relative;
	width: 100vw;
	height: 100vh;
	margin: auto;

	.image {
		object-fit: cover;
		object-position: 50% 100%;
	}
}

@include bp.respond-to(tablet) {
	.container {
		height: 50vh;
		width: 100vh;

		.image {
			object-position: -145px top;
		}
	}
}
