.background {
	filter: drop-shadow(0px 10px 6px #00000040);

	.clipPath {
		background-color: black;
		color: white;
		width: 100vw;
		height: 180vh;
		clip-path: polygon(0 15%, 100% 0%, 100% 85%, 0% 100%);

		.centered {
			transform: translateY(30vh);
		}
	}
}
