@use "@/styles/variables.scss" as *;
@use "@/styles/theme.scss" as theme;

.background {
	background-color: black;
	clip-path: polygon(0 0, 100% 25%, 100% 100%, 0 100%);
	padding-top: 160px;

	.container {
		color: white;
		padding: 20px;
		display: flex;
		flex-direction: column;
		max-width: $globalWidth;
		margin: auto;

		.footerContent {
			display: flex;
			flex-direction: column;
			gap: 2rem;

			.laps {
				background: -webkit-linear-gradient(
					#a42fbc 10.79%,
					#23b9d1 85.45%
				);
				background-clip: text;
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;

				font-family: $fontFooter;
				font-size: 100px;
			}

			.contact {
				@include theme.textStyle;
				display: flex;
				flex-direction: inherit;
				gap: 1rem;
				padding: 40px 0;

				.title {
					@include theme.smTitleStyle;
				}
				p {
					margin: 0;
				}
			}

			.reseaux {
				display: flex;
				flex-direction: inherit;
				gap: 1rem;

				.titleLinks {
					@include theme.smTitleStyle;
				}

				.logos {
					display: flex;
					gap: 1rem;
				}
			}
		}

		.botLine {
			text-align: center;
			@include theme.textStyle;
			padding: 75px;
		}
	}
}
