@use "@/styles/variables.scss" as *;
@use "@/styles/theme.scss" as theme;

.container {
	padding-top: 150px;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;

	&.addMargin {
		max-width: $globalWidth;
		margin: auto;
	}

	.block {
		height: 27px;
		width: 164px;
		margin-bottom: 110px;

		&.primary {
			background-color: $primary;
		}

		&.secondary {
			background-color: $secondary;
		}
	}

	.titre {
		@include theme.titleStyle;
		text-align: left;
	}

	.sousTitre {
		@include theme.textStyle;
		text-align: left;
	}
}
