@import "@/styles/theme.scss";

.container {
	display: flex;
	.control {
		width: 175px;
		height: 175px;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;

		.image {
			position: absolute;
			width: 175px;
			height: 175px;
			object-fit: cover;
			z-index: 0;
		}

		.playBtn {
			color: white;
			position: relative;
			font-size: 100px;

			svg {
				cursor: pointer;
			}
		}
	}

	.sound {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		padding: 20px;

		.titre {
			@include textStyle;
		}
		.player {
			width: 100%;
		}
	}
}
