@use "@/styles/theme.scss" as *;
@use "@/styles/variables.scss" as vars;
@use "@/styles/breakpoints" as bp;

.container {
	padding-top: 75px;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;

	&.addMargin {
		max-width: vars.$globalWidth;
		margin: auto;
	}

	.blocks {
		display: flex;
		align-items: center;
		justify-content: space-between;

		&.noBlock {
			justify-content: flex-end;
		}

		.block {
			height: 27px;
			width: 164px;
			left: 0;

			&.primary {
				background-color: vars.$primarySobre;
			}

			&.secondary {
				background-color: vars.$secondarySobre;
			}
		}

		.logo {
			height: 100px;
			width: 100px;
			position: relative;

			&.isBlack {
				transform: translateY(124px);
			}
		}
	}

	.titres {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		gap: 1rem;

		.titre {
			@include titleStyle;
			text-align: left;
		}

		.sousTitre {
			@include textStyle;
			text-align: left;
		}
	}
}

@include bp.respond-to(tablet) {
	.container {
		.blocks {
			justify-content: center;
			&.noBlock {
				justify-content: center;
			}

			.block {
				display: none;
			}

			.logo.isBlack {
				transform: translateY(0);
			}
		}

		.titres {
			justify-content: center;

			.titre {
				text-align: center;
			}

			.sousTitre {
				text-align: center;
			}
		}
	}
}
