@import "@/design/variables.scss";
@import "@/design/theme.scss";

.section {
	max-width: 80vw;
	margin: 150px auto auto auto;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;

	.block {
		height: 27px;
		width: 164px;
		margin-bottom: 150px;

		&.primary {
			background-color: $primary;
		}

		&.secondary {
			background-color: $secondary;
		}
	}

	.titre {
		@include titleStyle;
		text-align: left;
	}

	.description {
		@include textStyle;
		text-align: left;
	}
}
