@use "@/styles/theme.scss" as *;
@use "@/styles/variables.scss" as vars;

.container {
	position: relative;
	display: flex;
	justify-content: flex-start;
	gap: 30px;

	.photo {
		object-fit: cover;
		border-radius: 10%;
	}

	&.right {
		flex-direction: row-reverse;

		.infos {
			align-items: flex-end;
		}
	}

	.infos {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-end;
		gap: 15px;
	}

	.nom {
		@include smTitleStyle;
	}

	.desc {
		@include textStyle;
		padding-bottom: 5px;
	}
}
