@use "@/styles/theme.scss" as *;
@use "@/styles/variables.scss" as vars;

.container {
	position: relative;
	display: flex;
	justify-content: flex-start;
	gap: 10px;

	&.right {
		justify-content: flex-end;

		.infos {
			align-items: flex-end;
		}
	}

	.infos {
		padding-left: 10px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-end;
		gap: 15px;
	}

	.nom {
		@include smTitleStyle;
	}

	.desc {
		@include textStyle;
	}
}
