@use "@/styles/variables.scss" as vars;

@mixin textStyle {
	font-family: vars.$fontText;
	font-size: 20px;
}

@mixin smTitleStyle {
	font-family: vars.$fontTitle;
	font-size: 20px;
}

@mixin titleStyle {
	font-family: vars.$fontTitle;
	font-size: 37px;
}

@mixin gradientLAPS {
	background: -webkit-linear-gradient(#a42fbc 10.79%, #23b9d1 85.45%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

	font-family: vars.$fontFooter;
	font-size: 100px;
}
