@use "@/styles/variables.scss" as vars;

@mixin textStyle {
	font-family: vars.$fontText;
	font-size: 25px;
}

@mixin smTitleStyle {
	font-family: vars.$fontTitle;
	font-size: 25px;
}

@mixin titleStyle {
	font-family: vars.$fontTitle;
	font-size: 44px;
}
