@use "@/styles/variables.scss" as *;

@mixin textStyle {
	font-family: $fontText;
	font-size: 25px;
}

@mixin smTitleStyle {
	font-family: $fontTitle;
	font-size: 25px;
}

@mixin titleStyle {
	font-family: $fontTitle;
	font-size: 44px;
}
