$primary: #a42fbc;
$primarySobre: rgb(106, 30, 121);
$secondary: #23b9d1;
$secondarySobre: #188899;

$fontFooter: var(--fontFooter);
$fontText: var(--fontText);
$fontTitle: var(--fontTitle);
$spotifyFont: var(--spotifyFont);

$globalWidth: 80vw;
